In [42]:
import pandas as pd
import numpy as np
from prettytable import PrettyTable
from tabulate import tabulate

In [43]:
# del groups_dict
# del data

In [44]:
SHEET_ID = '1Yjmg552R22Z-GYifTWBlHpmbSQPQYXGz_0mdJ-0WJvQ'
SHEET_NAME = 'data_entry'
url = f'https://docs.google.com/spreadsheets/d/{SHEET_ID}/gviz/tq?tqx=out:csv&sheet={SHEET_NAME}'
data = pd.read_csv(url)

In [45]:
n_participants = int(data.columns[-1])

In [46]:
data = data.iloc[:,:6]
data.columns = ['Observer','Sl','Group_Symbol','Round','Player_ID','Score']
condition = (data['Observer'].isna()) #& (data['Player_ID'].isna())
#data = data[~data['Observer'].isna()]
data = data[~condition]
data.shape 
try:
    master_data.shape
except NameError:
    master_data = pd.DataFrame()
master_data = pd.concat([master_data,data],ignore_index=True)

(60, 6)

(60, 7)

In [47]:
round_name = data['Round'].unique()[0]
prev_round_name = 'Round '+ str(int(round_name.split(' ')[1])-1)
try:
    groups_dict
except NameError:
    groups_dict ={}
dump = pd.DataFrame()
team_names = ['Star','Square','Triangle','Circle','Hexagon','Rectangle']
for item in team_names:
    ids = list(master_data[master_data['Group_Symbol']==item]['Player_ID'])
    ids = [int(x) for x in ids]
    dump[item] = ids
if round_name=='Round 1':
    groups_dict[prev_round_name] = dump
else:
    pass
del dump

{'Round 0':    Star  Square  Triangle  Circle  Hexagon  Rectangle
 0    20      10         1      23       32          6
 1    34      11         2      49       51         56
 2    41      21         3      58        5         45
 3    43      53        18      12       35         44
 4    37      27        28      59        4         30
 5    40      52        31      54       25         36
 6     8      24        46      33       29         13
 7    39      48        47      38       42         17
 8    14      16        50      15       22         19
 9     7      57        55       9       60         26,
 'Round 1':    Star  Square  Triangle  Circle  Hexagon  Rectangle
 0    20      14         1       5       12         32
 1    34       7        49      47       53         27
 2    37      15        19      30       35         28
 3    40      33        52      48        6         51
 4     3      43        46      17       56         16
 5    39      50        23      44       10         45
 6     8      54         2       4       29         21
 7    55      38        25      22       42         13
 8    18      41        58      36       24         11
 9    59       9        31      60       57         26}

In [48]:
master_data = master_data.reset_index()
master_data = master_data.drop_duplicates()
group_scores = master_data.groupby('Group_Symbol')['Score'].sum()
master_data_pivot = master_data.pivot(index='Player_ID', columns='Round', values='Score')

In [87]:
master_data_pivot

    Player_ID  Round 1  Round 2
0           1      415    345.0
1           2      380    445.0
2           3      555    665.0
3           4      310    340.0
4           5      360    485.0
5           6      290    435.0
6           7      475    571.0
7           8      540    405.0
8           9      425    495.0
9          10      275    340.0
10         11      190    370.0
11         12      300    420.0
12         13      200    435.0
13         14      490    410.0
14         15      470    670.0
15         16      220    360.0
16         17      325    330.0
17         18      500    561.0
18         19      400    490.0
19         20      606    750.0
20         21      210    355.0
21         22      310    485.0
22         23      385    320.0
23         24      265    365.0
24         25      375    440.0
25         26      160    345.0
26         27      240    215.0
27         28      235    440.0
28         29      270    450.0
29         30      335    325.0
30         31      360    440.0
31         32      255    330.0
32         33      470    360.0
33         34      580      NaN
34         35      290    445.0
35         36      305    455.0
36         37      575    715.0
37         38      440    540.0
38         39      543    660.0
39         40      575    510.0
40         41      440    485.0
41         42      265    425.0
42         43      465    545.0
43         44      320    340.0
44         45      215    405.0
45         46      390    425.0
46         47      350    500.0
47         48      325    355.0
48         49      405    340.0
49         50      465    580.0
50         51      230    385.0
51         52      395    495.0
52         53      295    300.0
53         54      460    550.0
54         55      510    445.0
55         56      280    460.0
56         57      265    310.0
57         58      365    190.0
58         59      495    505.0
59         60      300    240.0

In [55]:
master_data_pivot = pd.read_csv('master_data_pivot.csv')

In [86]:
master_data_pivot

    Player_ID  Round 1  Round 2
0           1      415    345.0
1           2      380    445.0
2           3      555    665.0
3           4      310    340.0
4           5      360    485.0
5           6      290    435.0
6           7      475    571.0
7           8      540    405.0
8           9      425    495.0
9          10      275    340.0
10         11      190    370.0
11         12      300    420.0
12         13      200    435.0
13         14      490    410.0
14         15      470    670.0
15         16      220    360.0
16         17      325    330.0
17         18      500    561.0
18         19      400    490.0
19         20      606    750.0
20         21      210    355.0
21         22      310    485.0
22         23      385    320.0
23         24      265    365.0
24         25      375    440.0
25         26      160    345.0
26         27      240    215.0
27         28      235    440.0
28         29      270    450.0
29         30      335    325.0
30         31      360    440.0
31         32      255    330.0
32         33      470    360.0
33         34      580      NaN
34         35      290    445.0
35         36      305    455.0
36         37      575    715.0
37         38      440    540.0
38         39      543    660.0
39         40      575    510.0
40         41      440    485.0
41         42      265    425.0
42         43      465    545.0
43         44      320    340.0
44         45      215    405.0
45         46      390    425.0
46         47      350    500.0
47         48      325    355.0
48         49      405    340.0
49         50      465    580.0
50         51      230    385.0
51         52      395    495.0
52         53      295    300.0
53         54      460    550.0
54         55      510    445.0
55         56      280    460.0
56         57      265    310.0
57         58      365    190.0
58         59      495    505.0
59         60      300    240.0

In [61]:
rank_df = pd.DataFrame(master_data_pivot.sum(axis=1),columns=['score'])
rank_df['rank']=rank_df['score'].rank(ascending=False)
rank_df = rank_df.sort_values('rank')
rank_df = rank_df.reset_index()

In [63]:
rank_df.columns = ['Player_ID','score','rank']

In [77]:
rank_df['Player_ID'] = rank_df['Player_ID'].astype(int)
rank_list = list(rank_df['Player_ID'])
groups = [rank_list[i:i+10] for i in range(0,len(rank_df),10)]
groups = np.array(groups)
groups = pd.DataFrame(groups)
groups = groups.T
groups.columns = team_names

In [78]:
groups_dict[round_name] = groups
groups_dict = dict(sorted(groups_dict.items()))

In [79]:
groups_dict


# #{'Round 0':    Star  Square  Triangle  Circle  Hexagon  Rectangle
#  0    20      10         1      23       32          6
#  1    34      11         2      49       51         56
#  2    41      21         3      58        5         45
#  3    43      53        18      12       35         44
#  4    37      27        28      59        4         30
#  5    40      52        31      54       25         36
#  6     8      24        46      33       29         13
#  7    39      48        47      38       42         17
#  8    14      16        50      15       22         19
#  9     7      57        55       9       60         26,
#  'Round 1':    Star  Square  Triangle  Circle  Hexagon  Rectangle
#  0    20      14         1       5       12         32
#  1    34       7        49      47       53         27
#  2    37      15        19      30       35         28
#  3    40      33        52      48        6         51
#  4     3      43        46      17       56         16
#  5    39      50        23      44       10         45
#  6     8      54         2       4       29         21
#  7    55      38        25      22       42         13
#  8    18      41        58      36       24         11
#  9    59       9        31      60       57         26}

{'Round 0':    Star  Square  Triangle  Circle  Hexagon  Rectangle
 0    20      10         1      23       32          6
 1    34      11         2      49       51         56
 2    41      21         3      58        5         45
 3    43      53        18      12       35         44
 4    37      27        28      59        4         30
 5    40      52        31      54       25         36
 6     8      24        46      33       29         13
 7    39      48        47      38       42         17
 8    14      16        50      15       22         19
 9     7      57        55       9       60         26,
 'Round 1':    Star  Square  Triangle  Circle  Hexagon  Rectangle
 0    20      14         1       5       12         32
 1    34       7        49      47       53         27
 2    37      15        19      30       35         28
 3    40      33        52      48        6         51
 4     3      43        46      17       56         16
 5    39      50        23      44       10         45
 6     8      54         2       4       29         21
 7    55      38        25      22       42         13
 8    18      41        58      36       24         11
 9    59       9        31      60       57         26,
 'Round 2':    Star  Square  Triangle  Circle  Hexagon  Rectangle
 0    19      42        46      48       27          9
 1    36       6        32      34       29         31
 2    38      37        45       0       16         33
 3     2      54         4      28       50         57
 4    14      40        24      41       44         59
 5    39       7        30      11        3         15
 6    49      51         1       5       23         20
 7    17       8        21      22       52         10
 8    53      13        35      47       12         25
 9    58      18        55      43       56         26}

In [89]:
pd.DataFrame(group_scores).sort_values(by = 'Score',ascending=False).to_clipboard()

In [80]:
# print(pd.DataFrame(group_scores).to_markdown())
print(tabulate(pd.DataFrame(group_scores).sort_values(by = 'Score',ascending=False), headers='keys', tablefmt='psql'))

+----------------+---------+
| Group_Symbol   |   Score |
|----------------+---------|
| Star           |   11125 |
| Triangle       |    8090 |
| Circle         |    8070 |
| Square         |    7856 |
| Hexagon        |    6915 |
| Rectangle      |    6500 |
+----------------+---------+

In [ ]:
groups_dict['Round 1'].to_clipboard()

In [81]:
team_names_des = ['Star','Circle','Triangle','Hexagon','Rectangle','Square']
t = PrettyTable(['Team','Incoming IDs', 'Outgoing IDs'])
for item in team_names_des:
    new = groups_dict[round_name][item]
    ref = groups_dict[prev_round_name][item]
    incoming = set(new)-set(ref)
    outgoing = set(ref)-set(new)
    t.add_row([item,list(incoming),list(outgoing)])
    t.add_row(['*************','*************','*************'])

#     print(f'{item}: IDs of : Incoming players are {list(incoming)} \n  of Outgoing players are \t\t{list(outgoing)}')
#     print("-----------------------------------------")
print(t)

+---------------+-------------------------------------+--------------------------------------+
|      Team     |             Incoming IDs            |             Outgoing IDs             |
+---------------+-------------------------------------+--------------------------------------+
|      Star     | [2, 36, 38, 14, 49, 17, 19, 53, 58] |  [34, 3, 37, 40, 8, 18, 20, 55, 59]  |
| ************* |            *************            |            *************             |
|     Circle    |       [0, 34, 41, 11, 43, 28]       |       [4, 36, 44, 17, 60, 30]        |
| ************* |            *************            |            *************             |
|    Triangle   |   [32, 35, 4, 45, 21, 55, 24, 30]   |   [2, 49, 19, 52, 23, 25, 58, 31]    |
| ************* |            *************            |            *************             |
|    Hexagon    |     [3, 44, 16, 50, 52, 23, 27]     |     [35, 6, 10, 42, 53, 24, 57]      |
| ************* |            *************            |            *************             |
|   Rectangle   | [33, 9, 10, 15, 20, 57, 59, 25, 31] | [32, 11, 13, 45, 16, 51, 21, 27, 28] |
| ************* |            *************            |            *************             |
|     Square    |    [37, 6, 40, 8, 42, 13, 18, 51]   |   [33, 38, 9, 41, 43, 14, 15, 50]    |
| ************* |            *************            |            *************             |
+---------------+-------------------------------------+--------------------------------------+

In [ ]:
# import IPython
# IPython.display.Audio("fox.mp3",autoplay=True)